#content {
    display: flex;
    flex-wrap: wrap;
}

h3 {
    margin: auto;
    text-align: center;
}

#sidebar {
    width: 30%;
    min-width: 300px;
}

#main {
    display: flex;
    padding-top: 100px;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: green;
    z-index: 100;
    display: flex;
}
#medalImage {
    width: 80px;
    height: 80px;
    padding: 10px;
}
#medalValues {
    align-items: center;
    width: 150px;
    padding-right: 30px;
    height:100px;
    position: relative;
}
#medalValues div {
    padding-left: 8px;
    text-align: center;
    width: 150px;
    height: 33.3%;
    margin: auto;
}

#description {
    background-color: #CD7F32;
    width:40%;
    padding-left: 8px;
    padding-top: 10px;
}

#content {
    padding-top: 100px;
    width: 70%;
    max-width: 70%;
}
#gold {
    background-color: #FFD700;
}

#silver {
    background-color: #C0C0C0;
}

#bronze {
    background-color: #CD7F32;
}

/* Table */
#medals {
    margin: 0 auto;
    position: fixed;
}

#medals thead tr{
    display:block;
}

#medals th,table td{
    width:120px;
}


table tbody{
  display:block;
  height: 300px;
  overflow:auto;
}


#medals td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

#medals th {
    text-align: center;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

/* Heat Map */
.heatmapImg {
    width: 200px;
    height: 200px;
}

.heatmap {
    padding: 20px;
}

.circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border-style: solid;
    border-color: 2px black;
    position: relative;
    top: -12px;
    left: 0px;
    z-index: 1;
    display: none;
    /* cursor: crosshair; */
}

.on {
    border-color: white;
}

.highlight {
    background-color: lightgrey;
}
